.chat-side{
  height: 100vh;
  float: left;
  
  .chat-side-header{
    background-color: #253141;
    width: 300px;
    height: 100px;
    display:flex;
    align-items: center;
    padding: 0 20px;

    .chat-side-header__box{
      
      height: 20px;
      width: 100%;
      color: white;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }
    .header__lists{
      display: flex;
      // justify-content: space-between;
      text-align: center;
      .list_1_edit{
        color: white;
        text-align: right;
        margin-left: 5px;
      }
      .list_2_cog{
        color: white;
        text-align: right;
        margin-left: 5px;
        }
      }
    
  }
}
  .groups{
    height: calc(100vh - 100px);
    padding: 20px;
  }
    .group{
      color: #fff;
      margin:0 auto;
      padding: 0 20 0 20px;
      display: inline;
      
      &__name{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 5px;
      }
        
      &__message{
        color: #fff ;
        width: 260px;
        height: 17px;
        font-size: 11px;
        text-align: left;
      }
    }
  




.chat-side{
  height: 100vh;
  float: left;
  .chat-side-header{
    background-color: #253141;
    width: 300px;
    height: 100px;
    display:flex;
    align-items: center;
    padding: 0 20px;
    &__box{
      height: 20px;
      width: 100%;
      color: white;
      display: flex;
      justify-content: space-between;
      &__user{

      }
      &__icon{
      display: flex;
      justify-content: space-between;
        &__new-group{
          color: white;
          text-align: right;
          margin-left: 5px;
        }
        &__new-group1{
          color: white;
          text-align: right;
          margin-left: 5px;
        }
      }
    }
  }
}